.test p {
    font-size: 14px;
    text-align: center;
}

.test img {
    display: block;
    padding: 1rem 1rem 5px 1rem;
    width: 100%;
    max-width: 100%;
}

.test h6 {
    text-align: center;
    margin-bottom: 30px;
}